* {
    background-color: #5fa07c;
    color: #efcc65;
}

body {
    height: 100vh;
}

h1 {
    font-size: 30px;
    font-weight: 200;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.list-button {
    border-style: solid;
    background-color: #fc979a;
}

.cards {
    border-style: solid;
    width: fit-content;
    width: max-content;
    margin: 10px;
    
    
}

