.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-button {
    border-style: solid;
    display: inline;
}

.cards {
    border-style: solid;
    width: fit-content;
    background-color: greenyellow;
}